/* 
***Table of Contents*** 
1. CSS Variables
2. Global Styles
3. Header Styles
4. Main Styles
5. Footer Styles
6. Pseudo Classes
7. Media Queries
*/

/* CSS Variables -- Color Key */
:root {
  --primary: #e7d;
  --secondary: #fff;
  --background: #333;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body { 
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Section styles */
header {
  text-align: center;
  margin: 5% 0 40px 0;
  padding: 0 10%;
}

header h1 {
  color: var(--primary);
}

header p {
  color: var(--secondary);
}

/* Main Section / Cards Container styles */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 1%;
  justify-content: center;
}

.card {
  border: 1px dashed var(--secondary);
  width: 28%;
  margin: 15px 0;
  padding: 1%;
  min-width: 250px;
}

.card-title {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  background-color: var(--background);
  z-index: 2;
  color: var(--primary);
  padding: 2%;
  margin: -11% 0 0 0;
}

.card-body {
  color:  var(--primary);
}

.card-code {
  border-radius: 10px;
  border: 0 0 0 -50px;
  height: auto; /* need to fix this so the code body fills to the bottom of the card */
}

.card-code .card-title {
  border-radius: 8px;
}

pre { 
  background: linear-gradient(0deg, var(--primary), #e6c5);
  font-family: Consolas, "Andale Mono WT", Courier, monospace;
  color: var(--secondary);
  position: relative;
  padding: 5%;
  white-space: pre-line;
  user-select: all; /* ? none, auto, text, contain, all */
}

/* Footer Section styles */
footer {
  text-align: center;
  color:  var(--primary);
}

/* Pseudo Class's */
.card:hover {
  transition: all 0.5s ease-in-out;
  animation: glow 2.2s ease infinite;
}

@keyframes glow {
  0% { box-shadow: 1px 2px 8px var(--primary) }

  50% { box-shadow: 5px 10px 40px 20px var(--secondary) }

  100% { box-shadow: 1px 2px 8px var(--primary) }
}

.card:active {
  box-shadow: 5px 10px 40px 10px var(--primary);
}

/* Media Queries */
@media screen and (min-width: 992px) {
  
}

@media screen and (max-width: 992px) {
  .card {
    width: 45%;
    margin: 20px 0;
  }
  .card-title {
    margin: -8% 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 30px 0;
  }

  .card-title {
    margin: -6% 0 0 0;
  }
}